@tailwind base;
@tailwind components;
@tailwind utilities;

.appearIn {
    animation: appearAnim 1s ease-in-out 0s 1 normal forwards;
}

@keyframes appearAnim {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    80% {
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
